/* styles.css */
/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("sources/Finland_forest_landscape.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos de encabezado */

header {
  background-color: #333;
  color: #ff6347;
  padding: 20px;
  display: flex;
  justify-content: flex-end; /* Move navigation to the right */
}

header h1 {
  margin: 0;
  font-size: 32px;
}

/* Estilos de navegación */

nav {
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

/* Estilos de contenido principal */

main {
  padding: 20px 0;
}

section {
  margin-bottom: 30px;
}

section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

section p {
  line-height: 1.5;
}

/* Estilos de pie de página */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos de enlaces */

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos específicos para componentes o secciones adicionales */

/* Agrega aquí tus estilos personalizados para componentes específicos */
